.Dashboard {
  text-align: center;
}

.Dashboard-logo {
  height: 10vmin;
  pointer-events: none;
}

.Dashboard-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard-link {
  color: #61dafb;
}

.Dashboard-background {
  background-image: url('./../../components/Assets/okie.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
