.Dashboard {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.Dashboard-logo {
  height: 10vmin;
  pointer-events: none;
}

.Dashboard-background {
  background-image: url('./../../components/Assets/okie.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat Thin';
}

.Dashboard-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.Dashboard-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Dashboard-h1 {
  font-size: 70px;
  letter-spacing: 3px;
}

.Dashboard-p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 21px;
}