.Contact {
    width: 100%;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255);
}

.Contact-h1 {
    display: flex;
    margin: auto;
    max-width: 25%;
    justify-content: center;

    color: white;
    font-family: fangsong;
    font-weight: bold;
}

.Contact-about {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 80%;
    margin-top: 5%;
}


.Contact-about-content-body {
    flex: 0 0 50%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.Contact-about-content-left {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    

}

.Contact-about-content-right {
    color: rgba(255, 255, 255, 0.9);
    width: 100%;

    display: flex;
    margin: auto;
}


.List {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.Label {
    font-family: 'Courier New', Courier, monospace;
}

.Input {
    height: 100%;
    width: 100%;
    display: grid;
    
    resize: none;
}

.Submit {
    display: flex;
    justify-content: center;

    margin: auto;
}

.Item {
    margin-bottom: 5%;
}

.Contact-about-info-p {
    display: grid;
    justify-items: center;

    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
}