.Testimonials {
    width: 100%;
    height: 100%;

    font-family: 'fangsong';
    color: rgb(255, 255, 255);
}


.Head-h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 25%;

    border-style: groove;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: 'Courier New', Courier, monospace;
}

.Head-p {
    display: flex;
    justify-content: center;

    font-size: 18px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
	color: rgba(255, 255, 255, 0.6);
}

.Body {
    margin-top: 15%;
}


.Card {
    margin: auto;
    max-width: 50%;
}

.Card-Content {
    background-color: rgb(18, 18, 18);
    color: rgba(255, 255, 255, 0.7);
}

.Author {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1;

    color: rgb(255, 255, 255);
}

.Quote-Left {
    padding-right: 7px;
    color: rgb(255, 255, 255);
}

.Quote-Right {
    padding-left: 7px;
    color: rgb(255, 255, 255);
}