
.Item {
    padding-left: 10px;
    padding-right: 10px;
}

.Class {
    align-items: center;
}

.Link {
    color: white;
    font-size: 20px;
}

.Menu {
    margin: 10px;
    color: white;
}

.Logo {
    height: 10vmin;
}