
/*
** INDEX.HTML
*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    image-rendering: -webkit-optimize-contrast;

    background-image: url('./images/okc.jpg');
    background-color: rgb(50, 50, 50) !important;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


/*
** DASHBOARD
*/
@media (max-width: 700px) {
    .D-Head {
        flex-direction: column;
        align-items: center;
    }
    .D-Head-Break {
        display: none;
    }
}

.Dashboard {
	width: 100%;

    margin: 3% auto 0 auto;

    overflow-y: auto;

    color: rgba(255, 255, 255, 0.8);

    font-size: large;
}

.D-Head {
    display: flex;
    justify-content: center;

    color:rgb(255, 255, 255);

    font-family: emoji;
}

.D-Body {
    width: 80%;

    margin: 0 auto;
}

.D-Picture {
    display: flex;
    justify-content: center;
}


/*
** TESTIMONIALS
*/

@media (max-width: 900px) {
    .T-Cards {
        display: flex !important;
        flex-direction: column;
    }
}

.Testimonials {
    width: 100%;
    
    margin: 3% auto 0 auto;

    overflow-y: auto;

    color: rgba(255, 255, 255, 0.8);
}

.T-Head {
    width: 50%;
    
    margin: 0 auto;

    display: flex;
    justify-content: center;

    border-bottom-style: double;

    font-family: emoji;
}

.T-Cards {
    width: 80%;

    margin: 3% auto; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.T-Card {
    position: relative;

    padding: .5rem;

    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    
    background-color: rgb(18, 18, 18) !important;
}

.T-CardContent {
    color: rgba(255, 255, 255, 0.7);
}

.T-Author {
    position: absolute;

    bottom: 0;

    font-style: italic;

    color: rgb(255, 255, 255);
}

.T-Left {
    padding-right: 7px;

    color: rgb(255, 255, 255);
}

.T-Right {
    padding-left: 7px;

    color: rgb(255, 255, 255);
}


/*
** CONTACT
*/

@media (max-width: 700px) {
    .C-Body {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }
    .C-Left {
        width: 100% !important;

        display: grid !important;
    }
    .C-Right {
        width: 100% !important;
    }
    .C-Image {
        height: auto !important;
        width: 75%;
    }
}

@media (min-width: 1100px) {
    .C-Card {
        width: 80% !important;
    }
}

.Contact {
    width: 100%;
    
    margin: 3% auto 0 auto;

    overflow-y: auto;

    color: rgb(255, 255, 255); 
}

.C-About {
    width: 80%;

    margin: 3% auto;
}

.C-Card {
    margin: 0 auto;

    border: 2px solid rgba(255, 255, 255, 0.1) !important;

    background-color: rgb(18, 18, 18) !important;
}

.C-CardContent {
    padding-bottom: 0 !important;

    font-family: emoji;
}

.C-Body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    color: rgba(255, 255, 255, 0.6);
}

.C-Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.C-Image {
    height: auto;
    width: 70%;

    margin: 0 auto;
    
    clip-path: circle();
}

.C-Info {
    display: grid;
    justify-items: center;

    margin-top: 3%;
}

.C-Right {
    display: flex;
    flex-direction: column;
}

.C-Form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;

    flex-grow: 1;
}

.C-List {
    list-style-type: none;

    padding: 0;
}

.C-Item {
    margin: 5% auto;
}

.C-Input {
    width: 100%;
    
    overflow-y: auto;

    resize: none;
}

.C-Submit {
    display: flex;

    margin: 0 auto;

    background-color:rgba(255, 255, 255, 0.6);
}

.C-Bottom {
    border-top: 1px solid rgb(255, 255, 255);

    color: rgb(255, 255, 255);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}