
/*
** INDEX.HTML
*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    image-rendering: -webkit-optimize-contrast;

    background-image: url('./images/okc.jpg');
    background-color: rgb(63, 63, 63) !important;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


/*
** DASHBOARD
*/
@media (max-width: 900px) {
    .D-Head {
        
        font-family: 'Times New Roman', Times, serif;
    }
}


.wrapper1 {
    width: 80%;
    margin: 0 auto;

    background-color: green;
}


.Dashboard {
	width: 100%;
	
    background-color: red;
}

.D-Head {
    display: flex;
    justify-content: center;

    background-color: blue;
}

/* .style1 {
    width: 50%;
    float: left;
}

.style2 {
    width: 50%;
    float: right;
} */

.D-Head-2 {
    display: flex;
    justify-content: center;

    margin: 0 auto;

    font-family: 'Courier New', Courier, monospace;
}

.D-Body {
    width: 80%;

    margin: 0 auto;
}

.D-Picture {
    display: flex;
    justify-content: center;
}


/*
** TESTIMONIALS
*/
.Testimonials {
    height: 100%;
    width: 80%;
    
    margin: 0 auto;

    color: rgb(255, 255, 255); 
}

.T-Head {
    width: 60%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
    
    font-family: 'Courier New', Courier, monospace;
}

.T-Cards {
    width: 80%;
    margin: 3% auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

}

.T-Card {
    position: relative;

    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    border-radius: 4px;
    
    padding: .5rem;

    background-color: rgb(18, 18, 18) !important;
}

.T-CardContent {
    color: rgba(255, 255, 255, 0.7);
}

.T-Author {
    position: absolute;

    margin-bottom: 5%;
    bottom: 0;

    font-style: italic;
    color: rgb(255, 255, 255);
}

.T-Left {
    padding-right: 7px;
    color: rgb(255, 255, 255);
}

.T-Right {
    padding-left: 7px;
    color: rgb(255, 255, 255);
}


/*
** CONTACT
*/
.Contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
}

.C-About {
    width: 80%;

    margin: 3% auto;
}

.C-Card {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;

    background-color: rgb(18, 18, 18) !important;
}

.C-CardContent {
    background-color: rgb(18, 18, 18);

    padding: 0 !important;
    padding-bottom: 0 !important;
}

.C-Body {
    display: flex;
    
    padding: 10px;

    color: rgba(255, 255, 255, 0.9);
    font-family: 'Courier New', Courier, monospace;
}

.C-Left {
    width: 50%;

    margin-left: 1.5%;
    /* margin-right: 1.5%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.C-Image {
    height: 50%;
    margin: 0 auto;

    display: flex;

    padding: 10px 0;
    
    clip-path: circle();
}

.C-Info {
    display: grid;
    justify-items: center;

    margin-top: 3%;
}

.C-Right {
    width: 50%;
    
    /* margin-left: 1.5%; */
    margin-right: 1.5%;

    display: flex;
    flex-direction: column;
}

.C-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
}

.C-List {
    list-style-type: none;

    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.C-Item {
    padding: 0 !important;
    
    margin-bottom: 5%;
}

.C-Input {
    width: 100%;
    
    resize: none;
}

.C-Submit {
    display: flex;

    margin: auto;
}